body{
<<<<<<< HEAD
  background: orange;
=======
<<<<<<< HEAD
  background: orange;
=======
  background: blue;
>>>>>>> 2d2c0e40042e81c4531759c8518845141191ef55
>>>>>>> 925cbf206bd770de54b474b29415fe60e128064f
}
